#snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 32767;
}

.snowflake {
    z-index: 32768;
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px black);
}
