<a class="pull-right"
   href="javascript:void(0)"
   data-bind="click: function() { showWrapped(); }, hidden: !$root.currentWrappedAvailable()"
   title="{{ _('OctoPrint Wrapped!') |edq }}"
   aria-label="{{ _('OctoPrint Wrapped') |edq }}">
    <i class="fas fa-gift"></i>
</a>
